<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ page.description }}">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/sitewide.css">
	
	<!-- pull in webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	 <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 

</head>
<body>

	<!-- Page content goes inside the container -->
	<!-- In general, you should have only one container per page. -->
	<div class="container">

		<div class="siteheader">

        <h1>{{ site.title }}</h1>

    	</div>

    	<div class="homeb">

        <p><a href="{{ site.url }}{{ site.baseurl }}">Home</a></p>

    	</div>

        <div class="ptitle">

        <h1>A Post Title {{ page.title }}</h1>

    </div>


        <div class="pinfo">
        
        {% if page.date %}
    		<p>{{ page.date | date: "%A, %B %-d, %Y" }}</p>
        {% endif %}

    	</div>

    	<div class="sidebar">
    		Maecenas congue porta auctor. Donec ut aliquam metus. Morbi condimentum gravida purus nec tempor. Suspendisse potenti. Aenean pretium, eros at molestie efficitur, lorem ligula molestie magna, egestas blandit urna ante eu ante. Donec sit amet ipsum scelerisque, tempor sem nec, lacinia ligula. Nam hendrerit auctor pretium. Praesent finibus consequat porttitor. Praesent diam nisl, ullamcorper rutrum justo vitae, maximus dapibus ante. Nulla malesuada felis id pellentesque finibus. Sed id pulvinar magna. Cras vitae hendrerit odio. Ut elementum elementum odio. Fusce quis varius elit, et ultrices ex. 
    	</div>

        <div class="content">
        {{ content }}
    	</div>

	</div><!-- end container -->
	
</body>
</html>
