<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ page.description }}">
	
	<!-- Enable responsive layouts; tell browsers not to shrink pages to fit small screens -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Load styles -->
	<!-- For production, combine all of the stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/sitewide.css">
	
	<!-- pull in webfonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	 <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	 <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 

</head>
<body>

	<!-- Page content goes inside the container -->
	<!-- In general, you should have only one container per page. -->
	<div class="container">

		<div class="siteheader">

			<div class="sitetitle"><h1>{{ site.title }}</h1></div>

    	</div>

    	<div class="hsidebar">
    		Alexia is an undergrad student at American University studying History and Graphic Design. This blog is for a self-publishing project in David Ramos' Digital and Emerging Media Design I class of Spring 2018.
    	</div>

        <div class="hcontent">

        {{ body }}

        {% for post in site.posts %}
        	<article body style="padding-bottom: 18px">
        		<div class="postdis">

        			<h2><a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></h2>

        		</div>
        		
        		<p>{{ post.date | date: "%A, %B %-d, %Y" }}</p>
        		{{ post.teaser }}        
        	</article>
        {% endfor %}

    	</div>

	</div><!-- end container -->
	
</body>
</html>

